AIRFLOW_UID=50000
FERNET_KEY=
AIRFLOW_CLIENT_ID=generated-by-polaris-provisioning
AIRFLOW_CLIENT_SECRET=generated-by-polaris-provisioning
RUSTFS_ACCESS_KEY=polaris_root
RUSTFS_SECRET_KEY=polaris_pass
