SUPERSET_SECRET_KEY=generated-during-setup
SUPERSET_DATABASE_PASSWORD=generated-during-setup
SUPERSET_DATABASE_URI=generated-during-setup
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_FIRSTNAME=Superset
SUPERSET_ADMIN_LASTNAME=Admin
SUPERSET_ADMIN_EMAIL=admin@example.com
RUSTFS_ACCESS_KEY=polaris_root
RUSTFS_SECRET_KEY=polaris_pass
